{% extends "skeleton.html" %}
{% block title %}
Employer_Old
{% endblock %}


{% block style %}
body{
    background-color:#fafafa;
}
{% endblock %}


{% block content %}


<div class="row mt-4">
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">My Employees</h5> <br>
        <p class="card-text lh-1">Total Employees:</p>
        <p class="card-text lh-1">Potential Vacancies:</p>
        <a href="aaa" class="mt-auto">View all Employees</a>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Verifications</h5> <br>
        <h5 class="card-title  fs-6 lh-1">This Month</h5> <br>
        <p class="card-text lh-1">Pending Verifications: <span>
            <p class="card-text lh-1">Employment Verified:</p>
            <p class="card-text lh-1">Responsibility Verified:</p>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Job Board</h5> <br>
        <p class="card-text lh-1">Posted Jobs:</p>
        <p class="card-text lh-1">Interview Fixed:</p>
        <p class="card-text lh-1">Applications:</p>
        <p class="card-text lh-1">New Applications:</p>
        <a href="aaa" class="mt-auto">Post New Job</a>
      </div>
    </div>
  </div>
  <h4 class="mx-5">Score Impacting Factors</h4>
  <div class="row">
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Completed Verification</h5> <br>
        <h5 class="card-title  fs-6 lh-1">Low Impact</h5> <br>

        <p>0%</p>
        <p class="card-text lh-1">Your Employee has not been verified</p>
        <a href="aaa" class="mt-auto">View Details</a>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Avg. Employee Retentation</h5> <br>
        <h5 class="card-title  fs-6 lh-1">NaN Month</h5> <br>
        <p class="card-text lh-1">Average age of your employee tenure</p>
        <a href="" class="mt-auto">View Details</a>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Employee Rating</h5> <br>
        <p class="card-text lh-1">Rating obtained from your verified employees</p>

        <a href="aaa" class="mt-auto">View Details</a>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Salary Performance Index</h5> <br>
        <h5 class="card-title  fs-6 lh-1">Medium Impact</h5> <br>
        <p class="card-text lh-1">1.0</p>
        <p class="card-text lh-1">Your employees average salary based on industry average</p>
        <a href="aaa" class="mt-auto">View Details</a>

      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Profile Completion</h5> <br>
        <h5 class="card-title  fs-6 lh-1">Low Impact</h5> <br>

        <p class="card-text lh-1">0%</p>
        <p class="card-text lh-1">Your profile is not Complete</p>
        <a href="" class="mt-auto">View Details</a>
      </div>
    </div>
    <div class="col-md-4 m-auto" style="max-width:450px;">
      <div class="card mb-3 p-2 text-center" style="height: 300px;">
        <h5 class="card-title">Kudos Shared</h5> <br>
        <h5 class="card-title  fs-6 lh-1">0</h5> <br>
        <p class="card-text lh-1">Total Kudos shared between your employees</p>
        <a href="aaa" class="mt-auto">View Details</a>
      </div>
    </div>
  </div>




{% endblock %}