{% extends "skeleton.html" %}
{% block title %}
Buttons
{% endblock %}
{% block content %}

<div class="mb-5">
    <div class="btn"> <a href="/home">home</a></div>
    <div class="btn"> <a href="/employee">employee</a></div>
    <div class="btn"> <a href="/employerold">employerold</a></div>
    <div class="btn"> <a href="/filterjobs">filterjobs</a></div>
    <div class="btn"> <a href="/findjobs">findjobs</a></div> <br>
    <div class="btn"> <a href="/jobdetail">jobdetail</a></div>
    <div class="btn"> <a href="/login">login</a></div>
    <div class="btn"> <a href="/employer">employer</a></div>
    <div class="btn"> <a href="/postjob">postjob</a></div>
    <div class="btn"> <a href="/signup">signup</a></div>
</div>

{% endblock %}